/*
==================================
    Sprite Icon Base Style
==================================

  Used by the <SpriteIcon> component.
  Computed properties (size, image, position)
  are set inline by the component.
*/

.si-icon {
  display: inline-block;
  flex-shrink: 0;
  background-repeat: no-repeat;
}
